<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.onoff.electronicjournal.mapper.BackMapper">
    <select id="queryJournal" resultType="cn.onoff.electronicjournal.model.Journal">
       SELECT * FROM journal
    </select>
    <insert id="addJounal">
      insert into journal (title,periodical,time,image_url,intro)
VALUES(#{title},#{periodical},#{time},#{image_url},#{intro})
    </insert>
</mapper>